body {
    width: 700px;
    text-align: center;
}

h1 {
    color: blue;
}

.keyword-wrapper {
    width: 50%;
    margin: 0 auto;
}

#keyword {
    width: 80%
}

#results {
    width: 50%
}

#filepath {
    width: 50%;
}

